ansible-tower-cli
ciscoconfparse
elasticsearch
genie
jmespath
lxml>=4.2.5
netaddr
objectpath
paramiko
psutil
pyats
pylint>=2.1.1
pynetbox
python-memcached
requests>=2.2.0
scp
textfsm
urllib3>=1.24
yapf>=0.2.4
ansible==2.9.7